@model Contact
@{
    ViewBag.Title = $"{Model.FirstName} {Model.LastName} Details" ;
}

<div class="d-flex justify-content-center">
    <h2>@ViewBag.Title</h2>
</div>

<div class="form-group">
    <label asp-for="FirstName">First Name</label>
    <label asp-for="FirstName"></label>
</div>
<div class="form-group">
    <label asp-for="LastName">Last Name</label>
    <label asp-for="FirstName"></label>
</div>

<div class="form-group">
    <label asp-for="Phone">Phone</label>
    <label asp-for="FirstName"></label>
</div>

<div class="form-group">
    <label asp-for="Email">Email</label>
    <label asp-for="FirstName"></label>
</div>

<div class="form-group">
    <label asp-for="CategoryId">Category</label>
    <label asp-for="CategoryId"></label>
</div>